In [2]:
text = '                  123                      123                        '

In [3]:
# lstrip()
# 문자열의 왼쪽에 있는 공백 전부 제거(가운데는 제거 안함)
# 임시적인 결과만 보여줌(원본 변형 X)
text.lstrip()

'123                      123                        '

In [4]:
# rstrip()
text.rstrip()

'                  123                      123'

In [5]:
text

'                  123                      123                        '

In [6]:
# strip()
# 왼쪽 오른쪽 구분 없이 다 공백 제거(가운데는 남겨둠)
text.strip()

'123                      123'

In [7]:
# replace(old, new)
# 찾아바꾸기, 문자열 내에서 old에 해당하는 문자를 찾아 new로 싹다 대체
# 공백 찾아 없애기에 쓸 수 있음
# 역시 원본자료에는 영향을 미치지 않고 일시적으로 변경
text.replace(" ", "")

'123123'

In [8]:
text

'                  123                      123                        '

In [9]:
text2 = 'a b c'

In [11]:
# split("기준")
# 쪼개기
# 기준 입력시 기준점을 기준으로 쪼개고 입력 안하면 ' ', \n, \t등을 기준으로 변경
text2.split()

['a', 'b', 'c']

In [12]:
text3 = 'a.b.c.ddes'

In [13]:
# 기준 설정시 공백이 아닌 기준 대상으로 쪼개기
# "." 대상으로 쪼갤 경우 나오는 text3 결과물은 4개
text3.split(".")

['a', 'b', 'c', 'ddes']

In [14]:
# join()
# 왼쪽에 있는 요소를 .join(자료) 의
# 자료 인덱스 사이사이에 입력해줌
text4 ='abc'
"*".join(text4)

'a*b*c'

### ※ 문자열과 자주 사용하는 함수

>len()
* 문자열의 길이 = 문자의 개수를 구하는 함수
* 문자형 내장함수가 아니라 파이썬 기본 내장 함수이기 때문에 독립적으로 사용

In [18]:
# 마지막 인덱스 번호 = len(문자열) - 1
x = 'abcdefghijklmnopqrstuvwxyz'

In [19]:
len(x)

26

In [20]:
# len의 결과 - 1 : 인덱스 번호가 0으로 시작해서 실제 길이 -1 이 마지막 자료의 번호
x[len(x)-1]

'z'

# 자료형

여러 개의 아이템들을 저장하는 객체 = 여러 개의 값(데이터타입)을 저장하는 그릇

## 1. 리스트(List)

▶ 문법 기호 : [아이템1, 아이템2, 아이템3 .... ]


▶ 용어 : 아이템 = 요소


▶ 아이템으로 가질 수 있는 데이터 타입 : 문자, 숫자, 리스트, 딕셔너리 ...


▶ 종류

     * 아이템이 없는 리스트
    
     * 1차원 리스트
    
     * 다차원 리스트 
    
    
▶ 특징

     * 인덱스 활용
    
     * 다차원 리스트의 구조에 대한 이해

### 1. 생성하기

In [21]:
# 빈 리스트 생성하기 = 아이템이 없는 리스트
# 문법기호 : []
# 함수 :list()
a = []
a2 = list()
print(type(a), type(a2))
print(a, a2)

<class 'list'> <class 'list'>
[] []

In [22]:
# 모든 데이터타입을 아이템으로 가질 수 있다.
a3= ['a', 10, 1.1, [1, 23.1, 'a']]

In [27]:
# 2차원 배열이면, 인덱스 2개를 써야 하나의 값을 타겟으로 잡는다.
a3[0] # 'a'
a3[1] # 10
a3[2] # 1.1
a3[3] # [1, 23.1, 'a']
a3[3][2] # 'a'

'a'

In [28]:
# 3차원 배열 예시
[1, 2, 3, [1, 2, 3, [10, 20]]]

[1, 2, 3, [1, 2, 3, [10, 20]]]

### 2. 인덱싱, 슬라이싱

리스트를 인덱스 번호로 접근하면 해당하는 위치의 값(아이템)을 가져온다.

※ 복습

    - 첫 번째 인덱스 번호는 ? = 0번 인덱스 = 첫번째 아이템
   
    - 마지막 인덱스 번호는 ? = -1 = 마지막 아이템

### 인덱싱(indexing)

※ 정의 복습 : 특정 위치에 있는 하나의 아이템에 접근한가. = 하나의 값을 가져온다

In [29]:
# 리스트 생성하기
a = [1, 2, 3, 4, 5, 6, 7 ,8, 9]

In [30]:
# 첫 번째 아이템 인덱스 번호 : 0
# 인덱싱 문법 : 객체[인덱스번호]
a[0]

1

In [31]:
# 리스트의 6이라는 아이템 가져오기
a[5]

6

In [32]:
# 리스트의 마지막 값 확인하기
a[-1]

9

In [33]:
#len()결과값
len(a)

9

### 슬라이싱(slicing)
 
- 정의 복습 : 연속된 범위에 있는 하나 이상의 여러 개 아이템에 접근한다.
- 문법 기호 : 대상객체(문자열, 리스트).[시작번호:끝번호:간격] => 끝번호는 포함하지 않는다!!!
- 원본 데이터를 슬라이싱해도 원본 데이터와 같은 자료형임

In [34]:
# 리스트의 0 ~ 2번째 아이템까지 확인하기
# 시작번호 0
# 끝번호: 2 -> 3
a[0:3]

[1, 2, 3]

In [35]:
# 리스트의 4번째 아이템부터 마지막 아이템까지 확인하기
# 시작번호 : 3
# 끝번호 : 생략
a[3:]

[4, 5, 6, 7, 8, 9]

### <<연습문제>>

다음의 4차원 리스트에서 아래 조건에 맞는 값을 출력해주세요

        a = [1, 2, 3, ['a', [100, 200, ['강남', '서울'], 300], 'b', 'c']]
        
        출력결과 = 강남 & 300 & c

In [40]:
a4 = [1, 2, 3, ['a', [100, 200, ['강남', '서울'], 300], 'b', 'c']]

In [51]:
# 강남 추출(value1 변수에 저장)
value1 = a4[3][1][2][0]

In [46]:
# 300 추출(value2 변수에 저장)
value2 = a4[3][1][3]

In [47]:
# c 추출(value3 변수에 저장)
value3 = a4[3][3]

In [52]:
'출력 결과 = %s & %s & %s' % (value1, value2, value3)

'출력 결과 = 강남 & 300 & c'

### 아이템 추가하기 : 연산자와 함수를 이용한 리스트 아이템 추가

1) 산술 연산자 : +, *

2) 리스트의 함수(메서드) : 리스트.append(), 리스트.extend(), 리스트.insert()

### 3-1) 산술연산자

* 종류 : +, *

* 특징 : 원본에 반영되지 않는다.

In [53]:
# 리스트끼리 연결 : +

a = [1, 2, 3]
b = [4, 5, 6]

In [54]:
a + b

[1, 2, 3, 4, 5, 6]

In [55]:
print(a, b) #원본 변화 x

[1, 2, 3] [4, 5, 6]

In [57]:
# 리스트 대상 곱하기 : *
b * 3 # b + b + b

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [62]:
b

[4, 5, 6]

### 4. 리스트 타입의 함수 (method)
* 종류

    - 리스트.append(추가할 아이템) : 인자값을 통째로 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음 = 1개의 아이템만 추가 가능

    - 리스트.extend(추가할 아이템) : 인자값의 아이템을 뽑아서 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음, 단 여러 개의 아이템 추가 가능
    
    - 리스트.insert(인덱스번호, 추가할 아이템) : 위치를 지정해서 아이템을 삽입할 수 있음, 통째로 아이템을 추가
    
    - 특징 : 원본에 바로 적용이 됨
    
    
* 참고 연산자 : in 연산자 (결과값은 bool type)

In [63]:
# 리스트 생성하기
a = [1, 2, 3]
a

[1, 2, 3]

In [64]:
# append()
# 문법 : 리스트.append(추가할 아이템)
a.append(4)
a

[1, 2, 3, 4]

In [65]:
# 추가할 자료로 [5, 6] 을 제공한다면?
a.append([5, 6]) #떨어져서 들어오지 않음
a

[1, 2, 3, 4, [5, 6]]

In [66]:
a[4]

[5, 6]

In [67]:
# extend()
# 문법 : 대상리스트.extend(리스트)
# append()와의 차이점 : 인자값으로 리스트만 받을 수 있다.
# 리스트 길이만큼 인덱스가 연장된다. (append는 무조건 1만큼만 연장됨)
a.extend([7, 8, 9])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [69]:
#a.extend(10) #오류
a.extend([10])

In [70]:
a

[1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [71]:
# insert()
# 문법 : 대상리스트.insert(인덱스번호, 추가할 아이템)
# 다른 함수와의 차이점 : 아이템 추가가 마지막 인덱스가 아닌 지정한 인덱스를 기준으로
# append와의 유사점 : 하나의 인덱스에 다 때려박음
a.insert(0, 100)
a

[100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [74]:
a.insert(0,[99,98])
a

[[99, 98], [99, 98], [99, 98], 100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [77]:
# in 키워드는 특정 요소가 리스트 내에 있는지 없는지 여부를 물어봅니디. 
# 값 in 리스트
# 100이 a 리스트 내에 존재하나요? -> 100 in a
100 in a # True
99 in a  # False, 묶음으로 되어있어서
99 in a[0] # True

True

In [78]:
# not in 키워드는 특정 요소가 리스트의 내부에 없는지 있는지를 물어봅니다.
# 값 not in 리스트
# 50이 a 리스트에 없습니까? -> 50 not in a
50 not in a # True

True

### << 연습문제 >>

아래의 순서에 맞추어 직접 실행해보세요.

1) 빈 리스트 생성


2) 1번 리스트에 숫자 1,2,3 을 아이템으로 추가


3) 2번 리스트의 3번째 위치에 문자 100 을 아이템으로 추가


4) 3번 리스트의 마지막에 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가


5) 4번 리스트의 아이템을 2번 반복해서 가지는 리스트를 출력

In [132]:
# 1) 빈 리스트 생성
list1 = [] # list = list()

In [133]:
# 2) 1번 리스트에 숫자 1,2,3 을 아이템으로 추가
list1.extend([1, 2, 3]) # list += [1, 2, 3]
'''
for i range(1, 4):
    list1.append(i)
'''
list1

[1, 2, 3]

In [134]:
# 3) 2번 리스트의 3번째 위치에 문자 100 을 아이템으로 추가
list1.insert(2, '100')
list1

[1, 2, '100', 3]

In [135]:
#4) 3번 리스트의 마지막에 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가 :마지막은 무조건 append()
list1.append(['A', 'B'])
list1

[1, 2, '100', 3, ['A', 'B']]

In [137]:
#5) 4번 리스트의 아이템을 2번 반복해서 가지는 리스트를 출력
list1 * 2

[1, 2, '100', 3, ['A', 'B'], 1, 2, '100', 3, ['A', 'B']]

### 아이템 수정하기

- 인덱싱, 슬라이싱을 이용해서 아이템을 수정할 수 있다.

In [139]:
# 리스트 생성하기
a = [1, 2, 3 ,4]

In [141]:
# 하나의 아이템 수정하기
# 0번 인덱스에 있는 값을 [10, 20]으로 수정하기
# 결과 : [[10, 20], 2, 3 ,4]
a[0] = [10, 20]
a

[[10, 20], 2, 3, 4]

In [142]:
# 연속된 범위에 있는 여러개의 아이템 수정하기
# 0번 인덱스만 선택 <= 슬라이싱 -> 리스트가 풀어서 들어감
a2 = [1, 2, 3, 4]
a2[0:1] = [10, 20]
a2

[10, 20, 2, 3, 4]

In [143]:
# 슬라이싱으로 값을 할당할 때 주의점 :  전달하는 값은 리스트로
a2[0:1] = 100 # 오류

TypeError: can only assign an iterable

### << 연습문제 >>

아래 조건에 맞추어 리스트를 수정하세요.

    [ 10, 99, 3, '사과', 73, '바나나' ]
    
조건1)  '사과'를 'apple'로 수정

조건2)  99, 3 을 9, 33으로 수정

조건3)  73 을 [ 73, 74 ] 로 수정

In [145]:
a = [ 10, 99, 3, '사과', 73, '바나나' ]

In [146]:
# 조건1)  '사과'를 'apple'로 수정
a[3] = 'apple'
a

[10, 99, 3, 'apple', 73, '바나나']

In [147]:
# 조건2)  99, 3 을 9, 33으로 수정
a[1:3] = [9, 33]
a

[10, 9, 33, 'apple', 73, '바나나']

In [148]:
# 조건3)  73 을 [ 73, 74 ] 로 수정
a[4] = [73, 74] # a[-2] = [73, 74]
a

[10, 9, 33, 'apple', [73, 74], '바나나']

### 아이템 삭제하기

* 슬라이싱 : 빈 리스트를 넣어줌

* del 키워드 + 인덱싱/슬라이싱 #del키워드는 다 사용 가능

* remove() 메서드 : 값을 기준으로 삭제

* pop()
    - 인자값에 아무것도 입력하지 않거나 -1을 입력하면 마지막 인덱스를 삭제
    - 특정 인덱스를 지정하여 삭제

In [149]:
# 리스트 생성하기
a1 = [10, 20, 30, 40, 50]
a2 = [10, 20, 30, 40, 50]

In [150]:
# 하나의 아이템 삭제하기 1 - 슬라이싱 + 빈 리스트를 이용하는 방법
# 0번 인덱스 값을 삭제
a1[0:1] = []
a1

[20, 30, 40, 50]

In [151]:
# 만약 슬라이싱이 아닌 인덱싱 지정 후 빈 리스트 대입시...
a2[0] = [] # 비어있는 리스트를 a2[0]자리에 넣어달라는 의미
a2

[[], 20, 30, 40, 50]

In [152]:
# 하나의 아이템 삭제하기 2 - del 키워드 + 인덱싱

del a1[-1]
a1

[20, 30, 40]

In [153]:
# 만약 인덱싱 없이 del 키워드를 쓴다면...
del a2 # a2 전부 삭제
a2

NameError: name 'a2' is not defined

In [154]:
a = 2 #리스트만 작동하는 게 아님
del a
a

NameError: name 'a' is not defined

In [157]:
# 하나의 아이템 삭제하기 3 -remove()메서드
# 문법 : 리스트.remove(삭제할자료(인덱스 아님!!!))
a = [1, 2, 3, 3, 3, 4, 5]

In [158]:
# 5라는 값을 삭제
a.remove(5)
a

[1, 2, 3, 3, 3, 4]

In [159]:
# 중복된 아이템이 존재하면 가장 앞선 인덱스 자료 하나만 삭제
a.remove(3)
a

[1, 2, 3, 3, 4]

In [160]:
# del 키워드는 단일 자료뿐만 아니라 연속돤 범위(슬라이싱)자료 삭제도 가능하다
del a[2:]
a

[1, 2]

In [161]:
a = [1, 2, 3, 4, 5]

In [162]:
# 마지막에 위치한 아이템 값을 '확인시켜주고' 삭제하기 - pop()함수
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [163]:
a.pop() # 인덱스 번호 미기입시 마지막 인덱스 자료 삭제(6삭제)

6

In [164]:
a

[1, 2, 3, 4, 5]

In [165]:
# 삭제하려는 인덱스번호 지정시 마지막이 아닌 입력된 인덱스 자료 삭제
a.pop(2) #2번에 있는 자료 삭제

3

In [166]:
a

[1, 2, 4, 5]

### 7. 아이템 정렬하기

* 함수

    - sort() : 기본 동작 = 오름차순 정렬(작은값이 먼저오고 큰값이 나중에)
    
    - reverse() : 기존 리스트의 처음과 마지막 순서를 뒤집어서 나열

In [167]:
a = [10, -30, 57, -33, 71, 1, 34, -2]

In [171]:
# 값을 오름차 순으로 정렬 : sort() 기본 동작 / sort(reverse=False)
# 원본 리스트 변경됨
a.sort()
a

[-33, -30, -2, 1, 10, 34, 57, 71]

In [175]:
# 값을 오름차순이 아닌 내림차순으로 정렬하는 경우 : .sort(reverse=True)
a.sort(reverse=True)
a

[71, 57, 34, 10, 1, -2, -30, -33]

In [176]:
# 값을 인덱스 기준으로 반대로 뒤집기:reverse()
b = [10, 71, 32, 46, 5, 95]

In [177]:
b.reverse()
b

[95, 5, 46, 32, 71, 10]

### 8. 아이템 개수 세기

* 함수
    
    - 리스트.count(값) : 값이 리스트에 몇 개 있는지 개수를 반환 =>  특정 아이템의 개수를 반환
    
    - len() : 파이썬 내장 함수, 인자값으로 전달받은 객체의 길이 => 전체 아이템의 개수를 반환

In [178]:
a = [1, 2, 3, 3, 3, 4, 5, 6]

In [179]:
# 특정 아이템의 개수 : count()
a.count(4)

1

In [180]:
# 전체 아이템 개수 : len()
len(a)

8

### 9. 리스트 복사하기

* 할당 기호(=)

* copy() 메서드 

* list()

* 슬라이싱

In [181]:
# 1. 할당기호(=)로 복사하기 (얕은 복사)
a = [1, 2, 3, 4, 5]
b = a # a에 들어있는 주소값을 복사한 것

In [182]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [183]:
a[0] = 10 # =를 통해 복사한 요소는 동일한 지점을 가리키는 복사
a # [10, 2, 3, 4, 5]

[10, 2, 3, 4, 5]

In [185]:
b # [10, 2, 3, 4, 5]

[10, 2, 3, 4, 5]

기본형 자료 : int, float -> 변수 하나에 값 하나만 대입 가능
참조형 자료 : list, tuple -> 변수 하나에 값 여러 개 대입 가능
힙, 데이터 : 보존성 좋음, 조회속도 느림, 전역변수 등등 저장되어있음
스택 : 보존성 안 좋음, 조회속도 빠름, 지역변수 등 저장
얕은 복사 : 주소값까지 복사
깊은복사 : 새로운 주소지에 자료를 복사

In [186]:
# 2. .copy() 메서드로 복사하기 (깊은 복사)
c = a.copy()

In [189]:
# 파이썬에서는 id(자료)를 이용해  번지수 조회가 가능
print(id(a), id(b))
print(id(a), id(c))

2808226339528 2808226339528
2808226339528 2808226248008

In [190]:
# a를 변경해도 c는 영향을 받지 않는다
a[2] = 20
print(a, b, c)

[10, 2, 20, 4, 5] [10, 2, 20, 4, 5] [10, 2, 3, 4, 5]

In [191]:
# 3. list()로 복사하기 (깊은 복사)
# list(자료)를 넣으면 그 자료를 리스트화 해준다
d =list(c)

In [193]:
print(c, d)

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]

In [194]:
# 깊은 복사 여부 확인
print(id(c), id(d))

2808226248008 2808226151048

In [195]:
# 4. 슬라이싱으로 복사하기 (깊은 복사)
e = d[:]
print(id(d), id(e))

2808226151048 2808226131912

### << 연습문제 >>

1. a 리스트를 이용하여 다음과 같은 문자열을 출력하시오.

    a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']

    출력문 : you too

In [210]:
 a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [211]:
# 1. a 리스트를 이용하여 다음과 같은 문자열을 출력하시오
# 출력문 : you too
print(a[4], a[2])

you too

In [212]:
# 2. a리스트의 길이를 구하시오
len(a)

7

In [213]:
# 3. a 리스트의 첫번빼 아이템에 길이를 추가하시오
# 결과 : ['7,' Life', 'is', 'too', 'short', 'you', 'need', 'python']
a.insert(0, 7)
a

[7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [214]:
# 4. 아래와 같이 크기 순서가 없는 리스트를 만들고 내림차순 정렬로 바꿔보세요

# [1, 4, 9, 2, 6, 10]
#(결과) [10, 9, 6, 4, 2, 1]

list1 = [1, 4, 9, 2, 6, 10]
list1.sort(reverse=True)
list1

[10, 9, 6, 4, 2, 1]

In [253]:
# 5. 다음과 같은 아이템을 가지는 리스트를 만들고 아이템을 삭제해 보세요
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 결과 : [2, 4, 6, 8, 10]
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del list2[::2]
list2

[2, 4, 6, 8, 10]

## 자료형 - Tuple

- 생성 문법 기호 : ( )
- 아이템을 수정/삭제할 수 없기 때문에 실수로 데이터가 변경되거나 삭제되는 위험이 적다.
- 객체를 저장하는데 더 적은 메모리를 사용한다.
- dictionay 자료형의 key로 활용할 수 있다.
- 함수의 인자는 tuple 자료형으로 전달된다.

In [228]:
# 하나의 아이템을 가진 리스트
a =[1]
type(a)

list

In [232]:
#
#tu = (1) : type int, ,를 붙여 줘야함
tu = (1,) # tu = 1, 소괄호가 없어도 됨
type(tu)

tuple

In [234]:
# tuple(리스트)로 처리하면 리스트를 튜플로 변환할 수 있다. 반대의 경우도 가능
b = tuple(a)
print(type(a), type(b))

<class 'list'> <class 'tuple'>

In [236]:
# 변수 하나에 여러 값을 대입하면 튜플로 간주된다.
x = 50, 79, 29, 100
x

(50, 79, 29, 100)

In [237]:
# 튜플 내부의 자료 개수만큼 변수를 대입해주면 하나씩 나눠서 값을 받는다
x1, x2, x3 = 1, 2, 3
print(x1, x2, x3)

1 2 3

In [247]:
x[0]

50

### 슬라이싱

In [248]:
x[:3]

(50, 79, 29)

### 4. 튜플연산자

* 산술 연산자 : +, *

In [250]:
# 여러 개의 튜플의 아이템을 합쳐서 새로운 튜플 만들기 : +
x + x

(50, 79, 29, 100, 50, 79, 29, 100)

In [251]:
# 한 개의 튜플을 반복해서 저장해서 새로운 튜플 만들기 : *
x * 3

(50, 79, 29, 100, 50, 79, 29, 100, 50, 79, 29, 100)

### 5. 수정/삭제할 수 없는 튜플

In [252]:
# 수정하기 -> 인덱싱으로 하나의 아이템에 접근해서 수정
x[0] = 0

TypeError: 'tuple' object does not support item assignment

In [254]:
# 삭제하기 - del 키워드 + 인덱싱
del x[0]

TypeError: 'tuple' object doesn't support item deletion